name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install build-essential pkg-config \
          linux-headers-$(uname -r) \
          autoconf automake libtool \
          libnl-3-dev libnl-genl-3-dev \
          libxtables-dev
    - name: Generate build scripts
      run: autoreconf -i
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check

  formatting-check:
    runs-on: ubuntu-latest
  
    steps:
    - uses: jidicula/clang-format-action@v4.16.0
